.container{
    min-height: 100vh;
    width: 100%;
}
.bgElement {

    margin: 0 0;
    padding: 0%;
    height: 543px;
    width: 1400px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%; 

    /* 3 */

    background: linear-gradient(168.05deg, #023B96 5.04%, #022357 91.26%);

}

#image2 {
    height: 316.2596740722656px;
    width: 489.53289794921875px;
    left: -176px;
    top: -133.579833984375px;
    border-radius: 0px;
    position: relative;
    left: -12.57%;
    right: 77.6%;
    top: -24.6%;
    bottom: 66.36%;
}

#image3 {
    height: 328.3460388183594px;
    width: 913.4747924804688px;
    left: 369.52520751953125px;
    top: -175.882080078125px;
    border-radius: 0px;
    position: absolute;
    left: 26.39%;
    right: 8.36%;
    top: -32.39%;
    bottom: 71.92%;
}